<?xml version="1.0" encoding="UTF-8"?>
<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <sheets>

        <sDef>
            <ROOT>
                <TCEforms>
                    <sheetTitle>Dummy</sheetTitle>
                </TCEforms>
                <type>array</type>
                <el>

                    <dummy>
                        <TCEforms>
                            <exclude>1</exclude>
                            <label>Dummy</label>
                            <displayCond>FIELD:parentRec.tx_wsslider_renderer:=:test</displayCond>
                            <config>
                                <type>input</type>
                            </config>
                        </TCEforms>
                    </dummy>

                </el>
            </ROOT>
        </sDef>

    </sheets>
</T3DataStructure>