<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:wsslider="http://typo3.org/ns/WapplerSystems/WsSlider/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Default">

    <f:asset.script identifier="flexslider" src="EXT:ws_slider/Resources/Public/JavaScript/Flexslider/jquery.flexslider.min.js" />
    <f:asset.css identifier="flexslider" href="EXT:ws_slider/Resources/Public/CSS/Flexslider/flexslider.css" />
    <f:asset.css identifier="flexslider-mods" href="EXT:ws_slider/Resources/Public/CSS/Flexslider/mods.css" />

    <div id="{identifier}" class="flexslider">
        <ul class="slides">
            <f:for each="{items}" as="item" iteration="iterator">
                <f:render partial="Item/Flexslider" section="{layout}"
                          arguments="{item: item, settings: settings, options: options, iterator:iterator}"/>
            </f:for>
        </ul>
    </div>

    <f:asset.script useNonce="true" inline="true" identifier="{identifier}">{inlineJavascript}</f:asset.script>

</f:section>

</html>
