<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:wsslider="http://typo3.org/ns/WapplerSystems/WsSlider/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Default">

    <f:asset.script identifier="slick" src="EXT:ws_slider/Resources/Public/JavaScript/Slick/slick.min.js"/>
    <f:asset.css identifier="slick" href="EXT:ws_slider/Resources/Public/CSS/Slick/slick.css"/>
    <f:asset.css identifier="slick-theme" href="EXT:ws_slider/Resources/Public/CSS/Slick/slick-theme.css"/>

    <div id="wsslider-{data.uid}" class=" ">
        <f:for each="{items}" as="item" iteration="iterator">
            <f:render partial="Item/Slick" section="{sliderSettings.layout}"
                      arguments="{item: item, settings: settings, iterator:iterator}"/>
        </f:for>
    </div>


    <wsslider:addStartJavaScriptCode functionName="slick" useJQuery="true" selector="#wsslider-{data.uid}" name="wsslider-{data.uid}" defaultParameters="{sliderSettings.parameters}"/>

</f:section>

</html>
