<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:wsslider="http://typo3.org/ns/WapplerSystems/WsSlider/ViewHelpers">

    <f:section name="Default">

        <div id="wsslider-{data.uid}" class="">

                <f:for each="{items}" as="item" iteration="iterator">
                    <f:render partial="Item/Tinyslider" section="{sliderSettings.layout}"
                              arguments="{item: item, settings: settings, iterator:iterator}"/>
                </f:for>

        </div>

        <wsslider:pageRenderer.addJsFooterInlineCode name="wsslider-{data.uid}">

            var slider = tns(<f:format.raw>{</f:format.raw>
                container: '#wsslider-{data.uid}',
                loop: true,
                gutter: 20,
                mode: 'carousel',
                nav: true
            });


        </wsslider:pageRenderer.addJsFooterInlineCode>


    </f:section>

</div>
