<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:wsslider="http://typo3.org/ns/WapplerSystems/WsSlider/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="Main">

    <f:flashMessages queueIdentifier="core.template.flashMessages"/>

    <f:variable name="sliderError">{f:if(condition: presetNotFound, then: 'Preset not found', else: error)}</f:variable>

    <f:if condition="{sliderError}">
        <f:then>
            <div class="alert alert-danger">{sliderError}</div>
        </f:then>
        <f:else>
            <wsslider:render renderer="{sliderSettings.renderer}" items="{items}" layout="{sliderSettings.layout}" options="{options}" settings="{settings}"/>
        </f:else>
    </f:if>

</f:section>


</html>
