<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Default">

            <li class="slidercontent wsflexslider-{item.data.style_class}">
                <f:if condition="{item.foregroundMedia.0}">

                    <f:image image="{item.foregroundMedia.0}" />

                </f:if>
                <div class="caption-wrapper caption-align-{item.text_position}">
                    <f:if condition="{item.data.title}||{item.data.description}">
                    <div class="caption-text">
                        <p class="caption-title">{item.data.title}</p>
                        <f:if condition="{item.data.description}">
                            <div class="caption-body"><f:format.html>{item.data.description}</f:format.html></div>
                        </f:if>
                    </div>
                    </f:if>
                    <f:if condition="{item.data.link}">
                        <div class="caption-link">
                            <f:link.typolink parameter="{item.data.link}"><f:translate key="more">More</f:translate></f:link.typolink>
                        </div>
                    </f:if>
                </div>
            </li>

    </f:section>

</div>
